      <img class="logo" alt="District Taco" src="images/logo.png" />

      <hr class="space">
      <div class="span-7 append-1">
        <div class="">
        <h6>
          <span style="font-size: 20px;">¡Grand Opening</span> on August 17th!
        </h6>
        <p>
          District Taco's first cart is located outside of the 
          <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rosslyn+Metro+Station&sll=38.916147,-77.093811&sspn=0.074128,0.212688&ie=UTF8&ll=38.916147,-77.093811&spn=0.148256,0.294571&z=12&iwloc=A">
          Rosslyn Metro Station</a> just off the Orange and Blue line.
      </div>
    </div>

      <div class="span-8 append-1">
        <h6>A good breakfast for hungry people</h6>
        <p>
          Homemade Salsa, quality ingredients, freshly prepared and served hot in healthy portions. 
          This is a fast breakfast that does not taste like it was fast.
        </p>
      </div>

      <div class="span-7 last">
        <h6>We know what it is like</h6>
        <p>
          To want good food at an affordable price.
          We will work hard to keep our prices down while offering the freshest ingredients available.
        </p>
      </div>

      <hr class="space" />
      <center>
        <h1 class="price">
          $3/Taco, $5/2 Tacos, $7/3 Tacos
        </h1>
      </center>
      <hr class="space" />
      <div class="span-15 prepend-1 append-1">
        <div class="span-7 append-1">
          <img src="images/menu-basic.png" />
          <img src="images/menu-veggie.png" />
          <img src="images/menu-healthy.png" />
        </div>

        <div class="span-7 last">

          <h6>TOPPINGS</h6>
          <div class="alt">
            Two included per taco, additional toppings 50&cent;
          </div>
          <ul class="menu">
            <li>Veggies</li>
            <li>Jalapeños (fresh, chopped)</li>
            <li>Cheddar Cheese</li>
            <li>Guacamole</li>
            <li>Sour Cream</li>
            <li>Bacon</li>
            <li>Spicy Chorizo Sausage</li>
            <li>Pinto Beans</li>
          </ul>

          <h6>SIDE ORDERS</h6>
          <div class="alt">All sides are vegetarian - $3</div>
          <ul class="menu">
            <li>Mollettes (toasted bread with beans and cheese)</li>
            <li>1/2 Pint Pinto Beans</li>
            <!--li>1/2 Pint Spanish Rice</li-->
          </ul>

          <h6> HOMEMADE SALSAS </h6>
          <ul class="menu">
            <li>Pico de Gallo (mild)</li>
            <li>Tomato (mild)</li>
            <li>Tomatillo (medium) </li>
            <li>Habanero (Extremely HOT!)</li>
          </ul>

          <h6> DRINKS </h6>
          <ul class="menu">
            <li>Coffee - $2</li>
            <li>Water - $1</li>
            <li>Soda - $1</li>
            <li>Select Bottles - $2</li>
          </ul>
        </div>
      </div>

      <div class="span-7 last">
        <div class='tweet'></div>
        <h6>
          <a href="http://twitter.com/districttaco">Follow us on Twitter</a>
        </h6>

        <hr class="space" />
        <div class="">
          <p>
            Available for parties and catering, please <a href="mailto:taco@districttaco.com">Contact us</a> for details.
          </p>

          <p>
          </p>
        </div>

      </div>

      <hr class="space">
      <center>
      <h2 class="alt">Making Austin jealous since 2009.</h2>
      </center>
      <hr class="space">
      <center>
        <p class="alt">&copy; District Taco, LLC. All Rights Reserved.
            <a href="mailto:taco@districttaco.com">Contact</a>.
        </p>
      </center>
